body {
    background: black;
    height: 100vh;
    width: 100vw;
    font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .logo {
    height: 60px;
    width: 60px;
    margin-top: 15px;
    margin-left: 10px;
  }
  #app {
    background: #fff;
    padding: 2rem;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    width: 95%;
    max-width: 600px;
    margin-left: 280px;
    margin-top: 80px;
    display: flex;
  }
  h1 {
    color: #3D4852;
    }
    .heading {
    margin-left: 125px;
    }
  ul {
    list-style: none;
    padding: 0;
  }
  a {
    color: #6CB2EB;
    font-size: 1.25rem;
    transition: all 0.1s ease-in;
    margin-top: 0.5rem;
    display: block;
  }
  a:hover {
    color: #3490DC;
  }
  li,
  p {
    display: flex;
    align-items: center;
    line-height: 1.75;
    letter-spacing: 0.5px;
    color: #3D4852;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.1s ease-in;
  }
  #app > input {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #F1F5F8;
    color: #606F7B;
    padding: 0.5rem 0.75rem;
    box-sizing: border-box;
    font-size: 1rem;
    letter-spacing: 0.5px;
    margin: 0.5rem 0;
  }
  .btn {
    border: none;
    border-radius: 3px;
    margin: auto 0;
    padding: 0.5rem 0.75rem;
    flex-shrink: 0;
    cursor: pointer;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    transition: all 0.1s ease-in;
  }
  .btn-primary {
    background: #6CB2EB;
    color: #fff;
  }
  .btn-primary:hover {
    background: #8CA0B1;
  }

  .mt-5 {
      margin-bottom: 10px;
      margin-left: -80px;
  }
  .bulb {
    margin-left: -248px;
    margin-top: 34px;
}
  .image {
      height: 250px;
      width: 200px;
      margin-top: 20px;
  }
  .cart {
      margin-left: 90px;
  }